<div class="supplierContainer">
    <div class="nav-section-mobile">
        <div class="nav-mobile-logo">
            <img src="../assets/images/giellyGreenLogoGold.png" class="nav-mobile-logo-image">
            <div class="nav-mobile-menu">
                <span class="profileSpan">
                    <a href="/Profile"><i nz-icon nzType="user" nzTheme="outline" class="cursorPointer pr-5"></i></a>
                    <i nz-icon nzType="logout" nzTheme="outline" (click)="logOut()" class="cursorPointer"></i>
                </span>
                <i nz-icon nzType="menu" nzTheme="outline" class="cursorPointer" (click)="menuOpened = !menuOpened"></i>
            </div>
        </div>
    </div>
    <div class="nav-section" [ngClass]="{'openedNavMenu': menuOpened}">
        <div class="nav-logo">
            <img src="../assets/images/giellyGreenLogoGold.png" class="nav-logo-image">
        </div>
        <div class="nav-links">
            <a class="nav-link" href="/Invoice">MONTHLY INVOICE</a>
            <a class="nav-link" href="/Supplier">SUPPLIERS LIST</a>
        </div>
    </div>
    <div class="table-section">
        <div class="content-container">
            <div class="profileHead">Profile</div>
            <hr>
            <div class="profile-form-container">
                <form nz-form [formGroup]="ProfileForm" (ngSubmit)="submitForm()">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="companyName" class="profileLabel">Company Name</nz-form-label>
                        <nz-form-control [nzSpan]="24" [nzErrorTip]="errorCompanyName">
                            <input nz-input formControlName="companyName" id="companyName"/>
                            <ng-template #errorCompanyName let-control>
                                <ng-container *ngIf="control.hasError('pattern')">Please Enter Valid Company Name</ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="addressLine" class="profileLabel">Address Line</nz-form-label>
                        <nz-form-control [nzSpan]="24" [nzErrorTip]="errorAddressLine">
                            <textarea rows="4" nz-input formControlName="addressLine" id="addressLine"></textarea>
                            <ng-template #errorAddressLine let-control>
                                <ng-container *ngIf="control.hasError('pattern')">Please Enter Valid Address Line</ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="city" class="profileLabel">City</nz-form-label>
                        <nz-form-control [nzSpan]="24" [nzErrorTip]="errorCity">
                            <input nz-input formControlName="city" id="city"/>
                            <ng-template #errorCity let-control>
                                <ng-container *ngIf="control.hasError('pattern')">Please Enter Valid City</ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="zipCode" class="profileLabel">Zip Code</nz-form-label>
                        <nz-form-control [nzSpan]="24" [nzErrorTip]="errorZipCode">
                            <input nz-input formControlName="zipCode" id="zipCode"/>
                            <ng-template #errorZipCode let-control>
                                <ng-container *ngIf="control.hasError('pattern')">Please Enter Valid Zip Code</ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="country" class="profileLabel">Country</nz-form-label>
                        <nz-form-control [nzSpan]="24" [nzErrorTip]="errorCountry">
                            <input nz-input formControlName="country" id="country"/>
                            <ng-template #errorCountry let-control>
                                <ng-container *ngIf="control.hasError('pattern')">Please Enter Valid Country</ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="defaultVat" class="profileLabel">Default VAT</nz-form-label>
                        <nz-form-control [nzSpan]="24" [nzErrorTip]="errorDefaultVat">
                            <nz-input-number nz-input formControlName="defaultVat" id="defaultVat" class="w-100" [nzMin]="0" [nzMax]="100" [nzStep]="1"></nz-input-number>
                            <ng-template #errorDefaultVat let-control>
                                <ng-container *ngIf="control.hasError('pattern')">Please Enter Valid Default VAT</ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <div class="submitButtonContainer">
                        <button nz-button nzType="primary" type="submit" class="profile-submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div *ngIf="FullPageLoading" class="loader-container">
    <nz-spin nzSimple class="loader"></nz-spin>
</div>