<div class="nav-section-mobile">
  <div class="nav-mobile-logo">
      <img src="../assets/images/giellyGreenLogoGold.png" class="nav-mobile-logo-image">
      <div class="nav-mobile-menu">
        <span class="profileSpan">
            <a href="/Profile"><i nz-icon nzType="user" nzTheme="outline" class="cursorPointer pr-5 headerIcons"></i></a>
            <i nz-icon nzType="logout" nzTheme="outline" (click)="logOut()" class="cursorPointer headerIcons"></i>
        </span>

        <span *ngIf="!menuOpened"><i nz-icon nzType="menu-fold" nzTheme="outline" class="cursorPointer headerIcons" (click)="menuOpened = !menuOpened"></i></span>
        <span *ngIf="menuOpened"><i nz-icon nzType="menu-unfold" nzTheme="outline" class="cursorPointer headerIcons" (click)="menuOpened = !menuOpened"></i></span>
      </div>
  </div>
</div>
<div class="nav-section-offclick" (click)="menuOpened = false" [ngClass]="{'displayNone': !menuOpened, 'opp-100': menuOpened}">

</div>
<div class="nav-section" [ngClass]="{'openedNavMenu': menuOpened}">
  <div class="nav-logo">
      <img src="../assets/images/giellyGreenLogoGold.png" class="nav-logo-image">
  </div>
  <div class="nav-links">
      <a class="nav-link" href="/Invoice">MONTHLY INVOICE</a>
      <a class="nav-link" href="/Supplier">SUPPLIERS LIST</a>
  </div>
</div>
