<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="GiellyGreen_RohanEntities" connectionString="metadata=res://*/Model.GiellyGreen.csdl|res://*/Model.GiellyGreen.ssdl|res://*/Model.GiellyGreen.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db.satva.solutions,59763;initial catalog=GiellyGreen_Rohan;integrated security=False;user id=sa;password=Fishy1213#;pooling=True;min pool size=0;max pool size=16000;multipleactiveresultsets=True;connect timeout=30;load balance timeout=0;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GiellyGreen_RohanEntities1" connectionString="metadata=res://*/Model.GiellyGreen.csdl|res://*/Model.GiellyGreen.ssdl|res://*/Model.GiellyGreen.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db.satva.solutions,59763;initial catalog=GiellyGreen_Rohan;integrated security=False;user id=sa;password=Fishy1213#;pooling=True;min pool size=0;max pool size=16000;multipleactiveresultsets=True;connect timeout=30;load balance timeout=0;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>